<%if @type == "1"%>
<tr><td class="td27" colspan="2">对联广告:</td></tr>
<tr class="noborder"><td class="vtop" style="width:70%">
<%#= text_area 'guanggao', 'ad1', :class => 'tarea', :size => '100x6', :onkeyup => 'textareasize(this)'  %>
<%= fckeditor_textarea 'guanggao', 'ad1', :width => '100%', :height => '500px'  %>
</td><td class="vtop tips2">两侧对联广告</td></tr>

<tr class="noborder"><td class="vtop rowform">
<%#= file_field("guanggao", "file1") %>
</td><td class="vtop tips2"></td>
</tr>
<%end%>

<%if @type == "2"%>
<tr><td class="td27" colspan="2">首页中部广告:</td></tr>
<tr class="noborder"><td class="vtop" style="width:70%">
<%#= text_area 'guanggao', 'ad2', :class => 'tarea', :size => '100x6', :onkeyup => 'textareasize(this)'  %>
<%= fckeditor_textarea 'guanggao', 'ad2', :width => '100%', :height => '500px'  %>
</td><td class="vtop tips2">首页中部广告，规格：350px × 190px</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%#= file_field("guanggao", "file2") %>
</td><td class="vtop tips2"></td>
</tr>
<%end%>

<%if @type == "3"%>
<tr><td class="td27" colspan="2">列表页左侧广告:</td></tr>
<tr class="noborder"><td class="vtop" style="width:70%">
<%#= text_area 'guanggao', 'ad3', :class => 'tarea', :size => '100x6', :onkeyup => 'textareasize(this)'  %>
<%= fckeditor_textarea 'guanggao', 'ad3', :width => '100%', :height => '500px'  %>
</td><td class="vtop tips2">列表页左侧广告，规格：230px × 555px</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%#= file_field("guanggao", "file3") %>
</td><td class="vtop tips2"></td>
</tr>
<%end%>

<%if @type == "4"%>
<tr><td class="td27" colspan="2">列表页中部广告:</td></tr>
<tr class="noborder"><td class="vtop" style="width:70%">
<%#= text_area 'guanggao', 'ad4', :class => 'tarea', :size => '100x6', :onkeyup => 'textareasize(this)'  %>
<%= fckeditor_textarea 'guanggao', 'ad4', :width => '100%', :height => '500px'  %>
</td><td class="vtop tips2">列表页中部广告，规格：546px × 192px</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%#= file_field("guanggao", "file4") %>
</td><td class="vtop tips2"></td>
<%end%>
</tr>