<div class="itemtitle">
  <h3>职称管理</h3>
  <ul class="tab1">
    <li class="current"><a href="/zhicheng/list"><span>列表</span></a></li>
    <li><a href="/zhicheng/new"><span>添加</span></a></li>
  </ul>
</div>
<table class="tb tb2">
  <tbody>
    <tr class="header">
      <th>ID</th><th>职称</th><th>操作</th>
    </tr>
    <% for zhicheng in @zhichengs %>
      <tr class="hover">
        <td><%=h zhicheng.id %></td>
        <td><%=h zhicheng.name %></td>
        <td>
          <%= link_to '修改', :action => 'edit', :id => zhicheng %>
          <%= link_to '删除', { :action => 'destroy', :id => zhicheng }, :confirm => '确认要删除吗？', :method => :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>