<div class="itemtitle"><h3>收文登记</h3>
</div>
<table class="tb tb2">
<tbody>
<% form_tag({:action => 'create'}, :multipart => true) do %>
  <%= render :partial => 'form' %>
<tr><td colspan="2"><input type="submit" value="提交" name="settingsubmit" class="btn"/></td></tr>
<% end %>
</tbody></table>