<tr><td class="td27" colspan="2">用户组名称:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= text_field 'group', 'name',:class => 'txt'  %>
</td><td class="vtop tips2">用户组名称</td></tr>

<tr><td class="td27" colspan="2">用户组描述:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= text_field 'group', 'desc',:class => 'txt'  %>
</td><td class="vtop tips2">用户组描述</td></tr>